ReferralApp/Service References/ServiceReference1/Admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Admin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.fotostore.ie/FotoStore.AdminService/Admin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.fotostore.ie/FotoStore.AdminService/Admin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.fotostore.ie/FotoStore.AdminService/Admin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhotoPrint.Entities" />
      <xsd:import schemaLocation="http://dev.fotostore.ie/FotoStore.AdminService/Admin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PhotoPrint.Common.Enums" />
      <xsd:import schemaLocation="http://dev.fotostore.ie/FotoStore.AdminService/Admin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FotoStore.AdminService.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmin_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetGreetCardOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGreetCardOrders" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetGreetCardOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGreetCardOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_UpdateOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IAdmin_UpdateOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetOrdersToDispatch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersToDispatch" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetOrdersToDispatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersToDispatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_MarkOrderAsDispatched_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkOrderAsDispatched" />
  </wsdl:message>
  <wsdl:message name="IAdmin_MarkOrderAsDispatched_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkOrderAsDispatchedResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetCustomerSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSummary" />
  </wsdl:message>
  <wsdl:message name="IAdmin_GetCustomerSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmin">
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetOrder" message="tns:IAdmin_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetOrderResponse" message="tns:IAdmin_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetOrders" message="tns:IAdmin_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetOrdersResponse" message="tns:IAdmin_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGreetCardOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetGreetCardOrders" message="tns:IAdmin_GetGreetCardOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetGreetCardOrdersResponse" message="tns:IAdmin_GetGreetCardOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/UpdateOrderStatus" message="tns:IAdmin_UpdateOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/UpdateOrderStatusResponse" message="tns:IAdmin_UpdateOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersToDispatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetOrdersToDispatch" message="tns:IAdmin_GetOrdersToDispatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetOrdersToDispatchResponse" message="tns:IAdmin_GetOrdersToDispatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkOrderAsDispatched">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/MarkOrderAsDispatched" message="tns:IAdmin_MarkOrderAsDispatched_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/MarkOrderAsDispatchedResponse" message="tns:IAdmin_MarkOrderAsDispatched_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmin/GetCustomerSummary" message="tns:IAdmin_GetCustomerSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmin/GetCustomerSummaryResponse" message="tns:IAdmin_GetCustomerSummary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdmin" type="tns:IAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGreetCardOrders">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetGreetCardOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IAdmin/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersToDispatch">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetOrdersToDispatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkOrderAsDispatched">
      <soap:operation soapAction="http://tempuri.org/IAdmin/MarkOrderAsDispatched" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSummary">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetCustomerSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAdmin" type="tns:IAdmin">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAdmin_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGreetCardOrders">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetGreetCardOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IAdmin/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersToDispatch">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetOrdersToDispatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkOrderAsDispatched">
      <soap:operation soapAction="http://tempuri.org/IAdmin/MarkOrderAsDispatched" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSummary">
      <soap:operation soapAction="http://tempuri.org/IAdmin/GetCustomerSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Admin">
    <wsdl:port name="BasicHttpBinding_IAdmin" binding="tns:BasicHttpBinding_IAdmin">
      <soap:address location="http://dev.fotostore.ie/FotoStore.AdminService/Admin.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAdmin" binding="tns:BasicHttpsBinding_IAdmin">
      <soap:address location="https://fotostoreapi/FotoStore.AdminService/Admin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>