ReferralApp/Service References/ServiceReference1/Admin3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PhotoPrint.Common.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PhotoPrint.Common.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CustomerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RegistrationPending" />
      <xs:enumeration value="Registered" />
      <xs:enumeration value="Blocked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerStatus" nillable="true" type="tns:CustomerStatus" />
  <xs:simpleType name="ProductCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PhotoPrint" />
      <xs:enumeration value="GiftCard" />
      <xs:enumeration value="PhotoBook" />
      <xs:enumeration value="CreditPack" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="AwaitingPayment" />
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Complete" />
      <xs:enumeration value="PhotosDownloaded" />
      <xs:enumeration value="Printed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
</xs:schema>